




.navber.active {
    display: block;
    /* Show when active */
    /* Other styles for the navbar */

}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo Styling */
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600
}

.Link {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3.5rem;
    font-weight: 500;
    transition: .3s;
}

.navber .Link:hover {
    color: var(--main-color)
}

/* menu-icon */
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}



@media (max-width:1200px) {
    html {
        font-size: 69%;
    }
}

@media (max-width:991px) {
    .Link {
        padding: 0rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .hero {
        padding: 0 8%;
    }

}

@media (max-width:768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navber {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 2rem 6%;
        background: var(--bg-color);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);

    }

    .navber {
        display: none;
        /* Default state */
    }

    .navber .Link {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}









