* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
  outline: none;
}


:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #37a1df;
}




html {
    font-size: 62.5%;
    
}

body {

    overflow-x: hidden;
    background: var(--bg-color);
    color: var(--text-color);
}

   